body {
    background-color: black;
    color: white;
}

.scoreboard td {
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 0.9em;
}

.vocab {
    border-spacing: 1em;
}
.vocab td {
    padding-left: 2em;
    padding-right: 2em;
}
.vocab input {
    border-radius: 0.5em;
    font-size: 1.2em;
}

.unselected {
    background-color: gray;
    color: black;
}
.selected {
    background-color: blue;
    color: white;
}
.correct {
    background-color: green;
    color: white;
}
.incorrect {
    background-color: red;
    color: white;
}
